@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>
<div id="ReCaptcha"></div>
<input type="button" id="btnSubmit" value="Submit"/>

<script type="text/javascript" src="http://www.google.com/recaptcha/api/js/recaptcha_ajax.js"></script>
<script type="text/javascript" src="~/Scripts/jquery-1.8.2.min.js"></script>
<script type="text/javascript" src="~/Scripts/Views/ReCaptcha.js"></script>
<script type="text/javascript">
    
    $(function () {

        ReCaptcha.init();

        $("#btnSubmit").click(function () {
            if(ReCaptcha.isValidReCaptcha())
            {
                alert("Success");
            } else {
                alert("Failure");
            }
        });
    });


</script>
